<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:post-content {"layout":{"inherit":false}} /-->

<!-- wp:group {"className":"has-inline-blocks is-flex-horizontal post-meta"} -->
<div class="wp-block-group has-inline-blocks is-flex-horizontal post-meta">
<!-- wp:post-title {"level":3,"isLink":true} /-->
<!-- wp:post-date /-->
<!-- wp:post-terms {"term":"post_tag"} /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
